
html {overflow-x:hidden;
    position: relative;
    min-height: 100%;
}

body{
    background-image:url(../images/page-bg-1.jpg);
    min-width:600px;
    margin-bottom: 60px;
}
section{
   /*-- margin:0px 30px 0 30px;--*/
 
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px;
}
#tab2, #tab3 #tab4 {position: fixed; }

.menu1 > a,
.menu1 #tab2:target ~ a:nth-of-type(1),
.menu1 #tab3:target ~ a:nth-of-type(1),
.menu1 #tab4:target ~ a:nth-of-type(1),
.menu1 > div { padding: 5px; border: 1px solid #aaa; }

.menu1 > a { line-height: 28px; background: #fff; text-decoration: none; }

#tab2,
#tab3,
#tab4,
.menu1 > div,
.menu1 #tab2:target ~ div:nth-of-type(1),
.menu1 #tab3:target ~ div:nth-of-type(1),
.menu1 #tab4:target ~ div:nth-of-type(1) {display: none; }

.menu1 > div:nth-of-type(1),
.menu1 #tab2:target ~ div:nth-of-type(2),
.menu1 #tab3:target ~ div:nth-of-type(3),
.menu1 #tab4:target ~ div:nth-of-type(4) { display: block; }

.menu1 > a:nth-of-type(1),
.menu1 #tab2:target ~ a:nth-of-type(2),
.menu1 #tab3:target ~ a:nth-of-type(3),
.menu1 #tab4:target ~ a:nth-of-type(4) { border-bottom: 2px solid #fff; }
.panorama{
width:100%;
}
.panorama img{
max-height:200px;
width:100%;}
.suc{
background-color:#EFF6C2;}
.row_1{
margin-top:10px;}
form .btn-default{
margin:0px 0px 10px 10px;}
.media-list{
margin-top:15px;}
.popular{
margin-top: 20px;}
.popular a{
color:#fff;
background:#836292;
padding: 10px 16px;}
.k{
border-top:2px solid;
}
#sidebar-wrapper .sidebar-nav{
list-style:none;

}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    
	padding-top:10px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #333;
    background: rgba(255,255,255,0.2);
}


.thumbnail img{
max-height:400px;
}
.nav_menu{
padding:5px 10px;
 background: #8DBFFC;
 margin-bottom:10px;
}
.nav_menu ul li  {
   padding:10px 20px;
   display:inline; 
 }
 .nav_menu a{
 font-size:18px;
 color:#fff;
 }
 .nav-tabs_1{
 position:absolute;}
 .col-lg-1{
 background:#DEC7F5;}
/*-------ЗАГОЛОВКИ-----------*/

.name_hotel{
padding-top:10px;}
/*-------НАВІГАЦІЯ---------*/
.navbar .btn-default {
   height:28px;
}
.navbar-right{
    margin:19px auto 0px auto;
}
.navbar{
   border-radius:0px;
   margin-bottom:0;}
.dropdown {
   float: right;}
 .menu{
 background-image:url(../images/hedfoot.png);
 background-repeat: repeat-x;
 }
 .call{
 margin-left:10px;}
	
/*--------КНОПКИ ТА ІКОНКИ------*/
.glyphicon-user{
    padding-right:15px;}
.btn .caret {
    margin-left:5px;
	}
.glyphicon-pencil{
    padding:0px 0px 0px 10px;
}
.pen{
    padding:0px 30px 0px 10px;
    font-size: 20px;}

.btn-group{
    padding-right:10px;}

.input{
    padding-left:50px;
    padding-top:10px;}
.bn .btn-default{
margin-bottom:10px;

}	
.glyphicon-home {
margin-right:10px;
}
.glyphicon-earphone{
margin:5px;
padding-right:10px;}

