
html {overflow-x:hidden;
    position: relative;
    min-height: 100%;
}

body{
    min-width:600px;
}
section{
   /*-- margin:0px 30px 0 30px;--*/
 
}
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 10px;
}
#tab2, #tab3 #tab4 {position: fixed; }

.menu1 > a,
.menu1 #tab2:target ~ a:nth-of-type(1),
.menu1 #tab3:target ~ a:nth-of-type(1),
.menu1 #tab4:target ~ a:nth-of-type(1),
.menu1 > div { padding: 5px; border: 1px solid #aaa; }

.menu1 > a { line-height: 28px; background: #fff; text-decoration: none; }

#tab2,
#tab3,
#tab4,
.menu1 > div,
.menu1 #tab2:target ~ div:nth-of-type(1),
.menu1 #tab3:target ~ div:nth-of-type(1),
.menu1 #tab4:target ~ div:nth-of-type(1) {display: none; }

.menu1 > div:nth-of-type(1),
.menu1 #tab2:target ~ div:nth-of-type(2),
.menu1 #tab3:target ~ div:nth-of-type(3),
.menu1 #tab4:target ~ div:nth-of-type(4) { display: block; }

.menu1 > a:nth-of-type(1),
.menu1 #tab2:target ~ a:nth-of-type(2),
.menu1 #tab3:target ~ a:nth-of-type(3),
.menu1 #tab4:target ~ a:nth-of-type(4) { border-bottom: 2px solid #fff; }
.panorama{
width:100%;
}
.panorama img{
max-height:200px;
width:100%;}
.suc{
background-color:#EFF6C2;}
.row_1{
margin-top:10px;}
form .btn-default{
margin:0px 0px 10px 10px;}
.media-list{
margin-top:15px;}
.popular{
margin-top: 20px;}
.popular a{
color:#fff;
background:#836292;
padding: 10px 16px;}
.k{
border-top:2px solid;
}
#sidebar-wrapper .sidebar-nav{
list-style:none;

}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    
	padding-top:10px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #333;
    background: rgba(255,255,255,0.2);
}


.thumbnail img{
max-height:400px;
}
.nav_menu{
padding:5px 10px;
 background: #8DBFFC;
 margin-bottom:10px;
}
.nav_menu ul li  {
   padding:10px 20px;
   display:inline; 
 }
 .nav_menu a{
 font-size:18px;
 color:#fff;
 }
 .nav-tabs_1{
 position:absolute;}
 .col-lg-1{
 background:#DEC7F5;}
/*-------ЗАГОЛОВКИ-----------*/

.name_hotel{
padding-top:10px;}
/*-------НАВІГАЦІЯ---------*/
.navbar .btn-default {
   height:28px;
}
.navbar-right{
    margin:19px auto 0px auto;
}
.navbar{
   border-radius:0px;
   margin-bottom:0;}
.dropdown {
   float: right;}
 .menu{


 }
 .call{
 margin-left:10px;}
	
/*--------КНОПКИ ТА ІКОНКИ------*/
.glyphicon-user{
    padding-right:15px;}
.btn .caret {
    margin-left:5px;
	}
.glyphicon-pencil{
    padding:0px 0px 0px 10px;
}
.pen{
    padding:0px 30px 0px 10px;
    font-size: 20px;}

.btn-group{
    padding-right:10px;}

.input{
    padding-left:50px;
    padding-top:10px;}
.bn .btn-default{
margin-bottom:10px;

}	
.glyphicon-home {
margin-right:10px;
}
.glyphicon-earphone{
margin:5px;
padding-right:10px;}

/*
    Google maps styles
*/
html, body, #map-canvas-add {
    height: 100%;
    margin: 0px;
    padding: 0px
}
.controls {
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

/*
   INFINITE SCROLL
*/

.loading-bar {
    padding: 10px 20px;
    display: block;
    text-align: center;
    box-shadow: inset 0px -45px 30px -40px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    margin: 20px 0;
    font-size: 2em;
    font-family: "museo-sans", sans-serif;
    border: 1px solid #ddd;
    margin-right: 1px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

.loading-bar:hover {
    box-shadow: inset 0px 45px 30px -40px rgba(0, 0, 0, 0.05);
}

#content {
    width: 800px;
    margin: 0px auto;
}

#content h1 {
    font-family: "chaparral-pro", sans-serif;
    color: #444;
    font-size: 4.2em;
}

#content h1 a {
    color: #444;
    text-decoration: none;
}

#content h1 a:hover {
    color: #666;
}

#content p {
    font-size: 2em;
    line-height: 1.7em;
    font-family: "museo-sans", sans-serif;
    text-align: justify;
}

#content hr {
    border-bottom: 1px solid #eee;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}


#travel {
    padding: 10px;
    background: rgba(0,0,0,0.6);
    border-bottom: 2px solid rgba(0,0,0,0.2);
    font-variant: normal;
    text-decoration: none;
}

#travel a {
    font-family: 'Georgia', serif;
    text-decoration: none;
    border-bottom: 1px solid #f9f9f9;
    color: #f9f9f9;
    font-size: 1.5em;
}
.nav-tabs>li>a:active {background-color: #ffffff !important; border-bottom:none !important;color: #000000;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-bottom-color: transparent;
}

#main_manu
{	margin: 100;
    margin-left : 500px;

    padding: 0}

#main_manu li
{	float: left;
    list-style: none;
    font: 12px Tahoma, Arial}

#main_manu li a
{	display: block;
    /*   background: #20548E;
     */  padding: 5px 12px;
    text-decoration: none;
    /* border-right: 1px solid white;
    */ width: 110px;
    color: #EAFFED;
    white-space: nowrap}

#main_manu li a:hover
{/*	background: #1A4473*/}

#main_manu li ul
{	margin: 0;
    padding: 0;
    position: absolute;
    visibility: hidden;
    z-index : 25;
    border-top: 1px solid white}

#main_manu li ul li
{	float: none;
    display: inline}

#main_manu li ul li a
{	width: auto;
    background: #9F1B1B}

#main_manu li ul li a:hover
{	background: #7F1616}


